<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.cheshire3.org/schemas/config/"
		type="database"
		id="db_jstor">

  <objectType>cheshire3.database.SimpleDatabase</objectType>
    
  <options>
      <setting type="srw">1</setting>
  </options>
  
  <paths>
    <path type="defaultPath">~/digging-into-data/dbs/jstor</path>
    <path type="metadataPath">stores/metadata.bdb</path>
    <path type="indexStoreList">indexStore</path>
    <object type="recordStore" ref="recordStore"/>
  </paths>
  
  <subConfigs>
  
    <!-- indexStore -->
    <subConfig type="indexStore" id="indexStore">
        <objectType>cheshire3.indexStore.BdbIndexStore</objectType>
        <paths>
            <path type="defaultPath">indexes</path>
            <path type="tempPath">temp</path>
            <path type="recordStoreHash">recordStore</path>  
        </paths>
    </subConfig>
    
    <!-- RecordStore -->
    <subConfig type="recordStore" id="recordStore">
      <objectType>cheshire3.recordStore.BdbRecordStore</objectType>
      <paths>
        <path type="defaultPath">stores</path>
        <path type="databasePath">recordStore.bdb</path>
        <object ref="StringIntNormalizer" type="idNormalizer"/>
        <object ref="XmlToLZ4Workflow" type="inWorkflow"/>
        <object ref="LZ4ToLxmlWorkflow" type="outWorkflow"/>
      </paths>
      <options>
        <setting type="digest">md5</setting>
      </options>
    </subConfig>
    
    <!-- Workflows -->
    <subConfig type="workflow" id="XmlToLZ4Workflow">
      <docs>Workflow to take a Record and compress the XML data with the lz4 algorithm</docs>
      <objectType>cheshire3.workflow.CachingWorkflow</objectType>
      <workflow>
        <object ref="XmlTransformer" type="transformer"/>
        <object ref="LZ4CompressPreParser" type="preParser"/>
      </workflow>
    </subConfig>
    
    <subConfig type="workflow" id="LZ4ToLxmlWorkflow">
      <docs>Workflow to take a Document containing data compressed with the lz4 algorithm, decompress and parse into an LxmlRecord</docs>
      <objectType>cheshire3.workflow.CachingWorkflow</objectType>
      <workflow>
        <object ref="LZ4DecompressPreParser" type="preParser"/>
        <object ref="LxmlParser" type="parser"/>
      </workflow>
    </subConfig>
  
  </subConfigs>
  
</config>